API_ID=31231226
API_HASH=c0ea79aaab758a2fe024007eb0ad3e46
BOT_TOKEN=8901320364:AAE3Jalo-7M4AjllSDY4xMUL-csBdz_XcxY
STRING_SESSION=BQHcjPoAECob4n4o-V0QkiHQEhy-zKW0dfo0DLcpNfENpLIoSOxWVwRPpXvDk-WwArtK3HxQkpWyc3w0gzmnhNcKqpL_rU2W_VgZBtHQw1XRySlCHNeariwZ4XdUf3h8ZgLMSfx_h3kbT9kYb83ieocDDzDUrZb9l2naf8C_9MWG_78QO2IVxv2Jkc5vY4Qt8JEBeZrWE_9iWzdDisi2Koro1cmi6Ez3ug6ganmIaVjXLO07WBH_ds-y87eURofnFUeTvQBBS6hCb4BWQVfO03LyH0nPc_1vyAAfd7qjLyAFnzxlLjY2Y-xOZ3zgXPWY_iz2mKWHeXjz6GUnl1dktvNG_7cStQAAAAHr3IdVAA
LOG_GROUP_ID=-1004490671401
OWNER_ID=8853897167
MONGO_DB_URI=mongodb+srv://musicuser:music123@cluster0.qz8lbes.mongodb.net/?appName=Cluster0
API_KEY=ZEXXY1NEXOR
API_URL=https://a60176-682e.d.onjrnm.link
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/MGB_SUPPPOT
CHANNEL_URL=https://t.me/BECHARA_BILLIONAIRE_STORY
OWNER_URL=https://t.me/MGB_NOT_FREE_2
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
