API_ID=26119956
API_HASH=2f89b4530b742a63430def3f53069ff5
BOT_TOKEN=8911492925:AAGwlTx9sH36iyROVm76qroGb-5DtNtZJks
STRING_SESSION=BQGOjxQAFMduVEFspF9-C-MmkJHr1xmBHwnETr2ydwRkjEwd1lrTgQe3c7iy6sW-NNHnYe05R7yKS-rJ78IGtocXexIe8ry5PAvkqlean6GpvLaUun8pgRaqGgcP75AXTc_Qh57NLL3XB9xLZB784r4pJk8dyBGD_9098zRXceFLZiQJ030pvvocVZOJDjaQhubvxy7QoSN2plFG0Njw-ynibnSR4bZ9qpXcTFV3bEWqBNqZuTJCt0fCn150qS2hlZuLDKEUeZ5tqPL7SFtU6aKBMka558Q__Gh8iprDxPxBH28k5zi27UDTShaOgz6nNp_le71CL-7M5RxYEXiMbhBKnvHC_wAAAAIPu7_PAA
LOG_GROUP_ID=-1004399885356
OWNER_ID=8853897167
MONGO_DB_URI=mongodb+srv://botm97548_db_user:8658@cluster0.lkztwuy.mongodb.net/musicbot?appName=Cluster0
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/MGB_SUPPPOT
CHANNEL_URL=https://t.me/BECHARA_BILLIONAIRE_STORY
OWNER_URL=https://t.me/MGB_NOT_FREE_2
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
YOUTUBE_API_KEY=AIzaSyCncQDz2r71bCgbSFGxAkZ-zyCq_PG6DZI
